@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: Add some global styles */
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #111827; /* gray-900 */
  color: #f3f4f6; /* gray-100 */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
